
<img src="../../../assets/images/rev-logo.png" width="30%" height="30%" alt="Revature">
<form id="lost-password-form" [formGroup]="changePasswordForm">
    <div class="form-group">
      <label for="newPasswordChange">Password</label>
      <input type="password" class="form-control" formControlName="password" id="newPasswordChange" aria-describedby="emailHelp" placeholder="Enter new password">
      
    </div>
    
    
    <button class="btn btn-primary" (click)="createChangePassword()">Update Password</button>
</form>